
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(30, 54%, 90%);
}
.recipe {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  margin: 10% auto;
  padding: 16px;
  border-radius: 16px;
}
/* #img{
  width: 100%;
} */
img {
  width: 100%;
  border-radius: 8px;
}
.intro {
  margin: 16px 0;
}
#intro {
  margin: 16px 0;
}
.preparation {
  /* width: 100%; */
  background-color: hsl(330, 100%, 98%);
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  color: hsl(332, 51%, 32%);
}
#preparation,
#ingredients,
#instructions {
  margin: 16px;
  border-radius: 8px;
}
#preparation li {
  margin: 8px;
  color: hsl(332, 51%, 32%);
}
#ingredients li,
#instructions li {
  color: hsl(14, 45%, 36%);
}
.ingredients {
  /* padding: 16px; */
  margin: 16px 0;
}
.instructions {
  margin: 16px 0;
}
.nutrition {
  margin: 16px;
}
#nutrition {
  margin: 16px 0;
}
p {
  font-size: 16px;
  color: hsl(24, 5%, 18%);
}
b {
  font-weight: 600;
}
/* table,
td {
}
table {
  width: 100%;
}
tr {
  border: 1px solid;
} */
h2 {
  color: hsl(14, 45%, 36%);
}
.nutrients {
  text-align: left;
  width: 50%;
  display: inline-block;
  margin: 16px 0;
}
.value {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  display: inline-block;
  text-align: left;
  width: 50%;
}
hr {
  border-color: hsl(0, 0%, 100%);
}
h1,
h2,
h3 {
  font-family: "Young Serif", serif;
}
@media screen and (max-width: 480px){
  .recipe{
    width: 90%;
  }
}
@media screen and (min-width: 481px) and (max-width: 700px){
  .recipe{
    width: 70%;
  }
}
